{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block page_heading %}
  {% trans "Register" %}
{% endblock page_heading %}

{% block content %}
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>

  <div class="alert alert-info" role="alert">
    Only @kiatakatu.ac.nz emails addresses are currently allowed
  </div>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary" type="submit">{% trans "Register" %} &raquo;</button>
  </form>
{% endblock content %}
