<div class="card mb-3">
  <h5 class="card-header">
    <a href="{% url 'pikau:pikau_course' pikau_course.slug %}">
      {{ pikau_course.name }}
    </a>
  </h5>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
      {{ pikau_course.get_language_display }}
      {% with topic=pikau_course.topic %}
        {% include "pikau/snippets/topic_badge.html" %}
      {% endwith %}
      {% with level=pikau_course.level %}
        {% include "pikau/snippets/level_badge.html" %}
      {% endwith %}
    </h6>
  </div>
  {% include "pikau/snippets/pikau_course_progress_bar.html" %}
</div>
