{% load static %}

<div class="col-12 col-md-6 mb-3">
  <div class="card text-center">
    <h5 class="card-header">
      {% if pikau_course.readiness_level %}
        {% with pikau_course.readiness_level|stringformat:"s" as readiness_level %}
          {% with "images/core-education/flame-stage-"|add:readiness_level|add:".png" as flame_image %}
            <img src="{% static flame_image %}" class="icon-small"><br>
          {% endwith %}
        {% endwith %}
      {% endif %}
      <a href="{% url 'pikau:pikau_course' pikau_course.slug %}">
        {{ pikau_course.name }}
      </a>
    </h5>
    <div class="card-body p-2">
      <h6 class="text-muted mb-0">
        {{ pikau_course.get_language_display }}
      </h6>
      {% if pikau_course.readiness_level %}
        <div class="text-muted">
          {{ pikau_course.get_readiness_level_display }}
        </div>
      {% endif %}
      {% with topic=pikau_course.topic %}
        {% if topic %}
          {% include "pikau/snippets/topic_badge.html" %}
        {% endif %}
      {% endwith %}
      {% with level=pikau_course.level %}
        {% if level %}
          {% include "pikau/snippets/level_badge.html" %}
        {% endif %}
      {% endwith %}
      {% for progress_outcome in pikau_course.progress_outcomes.all %}
        {% if progress_outcome %}
          {% include "pikau/snippets/progress_outcome_badge.html" %}
        {% endif %}
      {% endfor %}
    </div>
    {% include "pikau/snippets/pikau_course_progress_bar.html" %}
  </div>
</div>
