{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Pīkau" "pikau:index" %}
  {% breadcrumb "Documentation" "" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  Pīkau Documentation
{% endblock page_heading %}

{% block content %}
  <p>
    This page aims to explain how pīkau are managed and stored in this tool, and how to use this area of the website aid you in your pīkau development.
    You can jump to any of the sections using the links below.
  </p>

  <h5><strong>Table of Contents</strong></h5>

  <ul>
    <li>
      <a href="#understanding-pipeline">Understanding the pīkau creation pipeline</a>
    </li>
    <li>
      <a href="#creating">Creating a pīkau on Google Drive</a>
    </li>
    <li>
      <a href="#planning">Planning a pīkau</a> <span class="text-muted">(can be done before creating the pīkau on Google Drive)</span>
    </li>
    <li>
      <a href="#writing">Writing pīkau content on Google Drive</a>
    </li>
  </ul>

  <p>If you have any suggestions for this page, please <a href="{% url 'contact' %}">contact me</a>.</p>

  <hr id="understanding-pipeline" class="permalink">

  <h2>Understanding the pīkau creation pipeline</h2>

  <img class="d-none d-md-block float-right mb-3 ml-3" src="{% static 'images/google-drive-logo.png' %}">

  <p>
    Pīkau need to be created quickly and collaboratively, and therefore we are using Google Drive to create pīkau.
    Pīkau move through the following status stages while being created on Google Drive.
    During this time the pīkau can also be listed on this website, which provides an easy link for authors to the pīkau Google Drive file.
  </p>

  <div class="col-12 col-md-6">
    <div class="d-flex flex-column mb-3">
      {% for stage_num, stage_name in status_stages|slice:":5" %}
        <div class="fire-stage-{{ stage_num }} p-2">
          {{ stage_name }}
        </div>
      {% endfor %}
    </div>
  </div>

  <img class="d-none d-md-block float-right mb-3 ml-3" src="{% static 'images/iqualify-logo.png' %}">

  <p>
    Once a pīkau is completed, the Google Drive file is locked and the pīkau is added to iQualify.
    The pīkau is then marked as the completed status.
  </p>

  <div class="col-12 col-md-6">
    <div class="fire-stage-{{ status_stages.5.0 }} p-2 mb-3">
      {{ status_stages.5.1 }}
    </div>
  </div>

  <p>
    When a pīkau is completed, the source files are then copied into this website's repository.
    This is to allow authors to easily view the content rendered as it would on iQualify on this website, and also makes the content source files publically available (as written in our contract agreement).
  </p>

  <p>
    Once a pīkau is then published to the public, the status is updated to the following:
  </p>

  <div class="col-12 col-md-6">
    <div class="fire-stage-{{ status_stages.6.0 }} p-2 mb-3">
      {{ status_stages.6.1 }}
    </div>
  </div>

  <p>
    The existing pipeline of collaboratively writing content on Google Drive to publishing on iQualify is not altered, but is supported by this website which shows the progress, links, and coverage of content.
  </p>

  <div class="d-flex justify-content-center align-items-center">
    <div class="m-2">
      <img class="img-fluid flex-fill" src="{% static 'images/google-drive-logo.png' %}">
    </div>
    <div class="m-2 text-center">
      <img class="img-fluid flex-fill" src="{% static 'images/icons/icons8/right-arrow.png' %}" style="max-width:50%;">
    </div>
    <div class="m-2">
      <img class="img-fluid flex-fill" src="{% static 'images/iqualify-logo.png' %}">
    </div>
  </div>
  <p class="text-center mb-4">
    This pipeline is supported by the <strong>Content Pipeline Assistant</strong>
  </p>

  <hr id="creating" class="permalink">

  <h2>Creating a pīkau on Google Drive</h2>

  <p>
    When creating a pīkau, follow the following steps:
  </p>

  <ol>
    <li>
      Create a folder for the pīkau within the Google Drive folder (<a href="https://drive.google.com/open?id=14sgLaA0kWybXm_v1UOqd8InOYVzHNBS6">link to English Medium folder</a>).
    </li>
    <li>
      Create a copy of the <a href="https://drive.google.com/open?id=1VQ7lTYuKuL14IeT61w6WdNU0lwAJ3qdMWmWbij4fpmU">pīkau tempate document</a> in your newly created pīkau folder.
    </li>
    <li>
      Follow the steps at the top of the template document, with the guidance of the section below on 'Planning a pīkau'.
      Once you have filled in the first 2 pages of the template (positioning and planning information), you can create a pīkau on this website and link it to the Google document.
      This allows you to track the progress of the pīkau development easily, and see the connections to other pīkau.
    </li>
  </ol>

  <hr id="planning" class="permalink">

  <h2>Planning a pīkau</h2>

  <p>
    When planning a pīkau, the first step is to plan out the high level positioning of the pīkau.
    The following questions are asked on  page 1 of the template, and the table below lists possible values or areas of this website that can assist you in answering each question.
  </p>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Question in template</th>
          <th scope="col">Content Pipeline Assistant</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <strong>Level of readiness this pīkau contributes to?</strong>
          </td>
          <td>
            Use the <a href="{% url 'pikau:readiness_level_list' %}">Readiness Levels</a> page to see existing level coverage.
          </td>
        </tr>
        <tr>
          <td>
            <strong>What outcome/path from the Self Review Tool (SRT) does this pīkau relate to?</strong>
          </td>
          <td>
            The following outcomes are stored within this website relating to the Self Review Tool:<br>
            {% for tag in srt_tags %}
              {% include "pikau/snippets/tag_badge.html" %} - <small>{{ tag.description }}</small><br>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td>
            <strong>How does this pīkau move the learner closer to readiness?</strong>
          </td>
          <td>
            Which readiness level is the pīkau primarily aimed at?:<br>
            <div class="d-inline-flex flex-column">
              {% for num,level in readiness_levels.items %}
                <div class="my-1">
                  {% with num|stringformat:"s" as readiness_level %}
                    {% with "images/core-education/flame-stage-"|add:readiness_level|add:".png" as flame_image %}
                      <img src="{% static flame_image %}" class="icon-small">
                    {% endwith %}
                  {% endwith %}
                  <a href="{% url 'pikau:readiness_level' num %}">
                    {{ level.name }}
                  </a>
                </div>
              {% endfor %}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Links to other pīkau?</strong>
          </td>
          <td>
            Use the <a href="{% url 'pikau:pathways' %}">Pathways diagram</a> page to see pīkau connections.
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 class="h5">Adding course metadata</h3>

  <p>
    After establishing positioning, more details can be planned for the pīkau on page 2 of the template document.
    The following metadata can be optionally tied to each pīkau, however the more data that is attached to each pīkau allows this tool to display the connectionss and coverage effectively.
  </p>

  <p>
    The following table lists areas requested on the template document, and the related exiting data within this website (you may need to create new metadata values).
  </p>

  <div class="alert alert-info" role="alert">
    Remember complete lists of all metadata are available from the <a href="{% url 'pikau:index' %}">pīkau homepage</a>.
  </div>


  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Template Field</th>
          <th scope="col">Available Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <strong>Target Audience</strong><br>
            Select <em>one</em>
          </td>
          <td>
            {% for level in levels %}
              {% include "pikau/snippets/level_badge.html" %}<br>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Pre-requisites</strong><br>
            Select <em>zero or more</em>
          </td>
          <td>
            View <a href="{% url 'pikau:pikau_course_list' %}">list of all pīkau</a> and also the <a href="{% url 'pikau:pathways' %}">Pathways diagram</a>, and list all pīkau that are a prerequisite to this pīkau.
          </td>
        </tr>
        <tr>
          <td>
            <strong>Learning Outcomes</strong><br>
            (called 'Goals' within iQualify)<br>
            Select <em>zero or more</em>
          </td>
          <td>
            {% if goals %}
              {% for goal in goals %}
                {{ goal.description }}<br>
              {% endfor %}
            {% else %}
              No learning outcomes/goals listed yet.
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>
    The following fields are currently not explicitly required on the template document, but we <strong>highly recommend</strong> also selecting these fields for your pīkau and noting them in your template document.
  </p>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Field</th>
          <th scope="col">Available Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <strong>Topic</strong><br>
            Select <em>one</em>
          </td>
          <td>
            {% for topic in topics %}
              {% include "pikau/snippets/topic_badge.html" %}<br>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Progress Outcomes</strong><br>
            Select <em>one or more</em>
          </td>
          <td>
            {% for progress_outcome in progress_outcomes %}
              {% include "pikau/snippets/progress_outcome_full_badge.html" %}<br>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Tags</strong><br>
            Select <em>one or more</em>
          </td>
          <td>
            <a href="{% url 'pikau:tag_list' %}">View all available tags</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>
    Once you have filled in the first 2 pages of the template (positioning and planning information), you can create a pīkau on this website and link it to the Google document.
    This allows you to track the progress of the pīkau development easily, and see the connections to other pīkau.
  </p>

  <hr id="writing" class="permalink">

  <h2>Writing pīkau content on Google Drive</h2>

  <p>
    When writing content for a pīkau, be sure to take advantage of the formatting options available on iQualify.
    Using a variety of formats and media will ensure that the lesson is engaging, while taking full advantage of iQualify.
  </p>

  <p>
    The following basic formatting tools can be used when writing on Google Drive, and will be rendered in iQualify:
  </p>

  <ul>
    <li>Bold</li>
    <li>Italics</li>
    <li>Unordered lists</li>
    <li>Ordered lists (either with numbers of letters)</li>
    <li>Headings (only levels 2 and 3)</li>
    <li>Tables</li>
    <li>Links (to external pages or within pīkau)</li>
  </ul>

  <p>
    The following can <strong>only</strong> be used within standard content pages, <strong>not</strong> within the 'Overview' section or within boxed text (see below):
  </p>

  <ul>
    <li>Images or image slideshows</li>
    <li>Videos (YouTube and Vimeo)</li>
  </ul>

  <p>
    The following boxed text formatting styles are available on iQualify and can <strong>only</strong> be used within standard content pages, <strong>not</strong> within 'Overview' section.
    The table below lists how to use these on Google Drive.
  </p>

  <div class="alert alert-warning" role="alert">
    <small><strong>Note:</strong> This page aims to display how content will be viewed on iQualify, however this consistency is not guaranteed. Different icons are used for licensing reasons.</small>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">How it appears on iQualify</th>
          <th scope="col">How to write it on Google Drive</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              <div class="boxed-text my-0 boxed-text-pull-out">
                <div class="boxed-text-contents">
                  Pull out box
                </div>
              </div>
            </td>
            <td>
              <div class="gd-box gd-box-orange">
                Table of one cell with orange background
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="boxed-text my-0 boxed-text-example">
                <div class="boxed-text-contents">
                  Example box
                </div>
              </div>
            </td>
            <td>
              <div class="gd-box gd-box-yellow">
                Table of one cell with yellow background
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="boxed-text my-0 boxed-text-reading">
                <div>
                  <img class="icon" src="{% static 'images/icons/icons8/reading.png' %}">
                </div>
                <div class="boxed-text-contents">
                  Reading box
                </div>
              </div>
            </td>
            <td>
              <div class="gd-box gd-box-teal">
                Table of one cell with teal background
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="boxed-text my-0 boxed-text-tip">
                <div>
                  <img class="icon" src="{% static 'images/icons/icons8/tip.png' %}">
                </div>
                <div class="boxed-text-contents">
                  Tip box
                </div>
              </div>
            </td>
            <td>
              <div class="gd-box gd-box-green">
                Table of one cell with green background
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="boxed-text my-0 boxed-text-case-study">
                <div>
                  <img class="icon" src="{% static 'images/icons/icons8/case-study.png' %}">
                </div>
                <div class="boxed-text-contents">
                  Case study box
                </div>
              </div>
            </td>
            <td>
              <div class="gd-box gd-box-purple">
                Table of one cell with purple background
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="boxed-text my-0 boxed-text-quote">
                <div>
                  <img class="quote quote-start" src="{% static 'images/icons/icons8/quote-start.png' %}">
                </div>
                <div class="boxed-text-contents">
                  Quote
                </div>
                <div>
                  <img class="quote quote-end" src="{% static 'images/icons/icons8/quote-end.png' %}">
                </div>
              </div>
            </td>
            <td class="align-middle">
              <div class="gd-box gd-box-blue">
                Table of one cell with blue background
              </div>
            </td>
          </tr>
      </tbody>
    </table>
</div>

  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">How to add single cell table to Google Drive</h4>
    <ol>
      <li>Click the menu <span class="text-dark bg-white px-1">Insert</span>.
      <li>Click the item <span class="text-dark bg-white px-1">Table</span>.
      <li>Click the top left square to add a 1 x 1 table.
    </ol>
    <img src="{% static 'images/google-drive-add-single-table-cell.png' %}" class="border">
  </div>

  <p>If you are unsure if you can use a combination of formatting, please <a href="{% url 'contact' %}">contact me</a> and I can check for you.</p>
{% endblock content %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/iqualify.css' %}">
{% endblock css %}
