{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Pīkau" "pikau:index" %}
  {% breadcrumb "Glossary" "" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  Glossary
{% endblock page_heading %}

{% block content %}
  <p>This page lists all the glossary terms available within Pīkau.</p>

  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col">Term</th>
        <th scope="col">Slug</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for glossary_term in glossary_terms %}
        <tr>
          <td id="{{ glossary_term.slug }}">{{ glossary_term.term }}</td>
          <td><code>{{ glossary_term.slug }}</code></td>
          <td>{{ glossary_term.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
