{% extends "base.html" %}

{% load static %}

{% block page_heading %}
  Pīkau Content
{% endblock page_heading %}

{% block content %}
  <p>
    This page details the content pipeline for used for developing Pīkau content for the <a href="http://www.kiatakatu.ac.nz/">Kia Takatū ā-Matihi</a>.
  </p>

  <h2>Available Pages</h2>
  <ul>
    <li><a href="{% url 'pikau:glossary' %}">Glossary</a></li>
    <li><a href="{% url 'pikau:goal_list' %}">Goals</a></li>
    <li><a href="{% url 'pikau:level_list' %}">Levels</a></li>
    <li><a href="{% url 'pikau:pikau_course_list' %}">Pīkau Courses</a></li>
    <li><a href="{% url 'pikau:progress_outcome_list' %}">Progress Outcomes</a></li>
    <li><a href="{% url 'pikau:tag_list' %}">Tags</a></li>
    <li><a href="{% url 'pikau:topic_list' %}">Topics</a></li>
  </ul>
{% endblock content %}
