{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Pīkau" "" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  Pīkau Content
{% endblock page_heading %}

{% block content %}
  <p>
    {% trans "This page details the content pipeline for used for developing Pīkau content for the <a href='http://www.kiatakatu.ac.nz/'>Kia Takatū ā-Matihi</a>." %}
  </p>

  <a class="btn btn-lg btn-primary" href="{% url 'pikau:pikau_course_list' %}" role="button">View Pīkau Courses</a>

  <h2 class="mt-3">View metadata</h2>
  <p>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'pikau:glossary' %}">Glossary</a>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'pikau:goal_list' %}">Goals</a>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'pikau:level_list' %}">Levels</a>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'pikau:pathways' %}">Pathways</a>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'pikau:progress_outcome_list' %}">Progress Outcomes</a>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'pikau:tag_list' %}">Tags</a>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'pikau:topic_list' %}">Topics</a>
  </p>
{% endblock content %}
