{% extends "base.html" %}

{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Pīkau" "pikau:index" %}
  {% breadcrumb "Courses" "pikau:pikau_course_list" %}
  {% breadcrumb pikau_unit.pikau_course.name "pikau:pikau_course" pikau_unit.pikau_course.slug %}
  {% breadcrumb "Content" "pikau:pikau_content" pikau_unit.pikau_course.slug %}
  {% breadcrumb pikau_unit.name "" %}
{% endblock breadcrumbs %}

{% block custom_page_heading %}
  <div class="jumbotron bg-size-cover text-white"{% if pikau_unit.pikau_course.cover_photo %} style="background-image:url({% static pikau_unit.pikau_course.cover_photo %});"{% endif %}>
    {% if pikau_unit.module_name %}
      <div>{{ pikau_unit.module_name }}</div>
    {% endif %}
    <h1>
      {{ pikau_unit.name }}
    </h1>
  </div>
{% endblock custom_page_heading %}

{% block content %}
  {% render_html_field pikau_unit.content %}

  <div id="page-navigation-container">
    {% if previous_unit %}
      <a href="{% url 'pikau:pikau_unit' pikau_unit.pikau_course.slug previous_unit.slug %}" class="btn float-left page-navigation">
        <img src="{% static 'images/icons/icons8/left.png' %}" class="page-navigation-icon mr-3">
        {{ previous_unit.name }}
      </a>
    {% endif %}
    {% if next_unit %}
      <a href="{% url 'pikau:pikau_unit' pikau_unit.pikau_course.slug next_unit.slug %}" class="btn float-right page-navigation">
        {{ next_unit.name }}
        <img src="{% static 'images/icons/icons8/right.png' %}" class="page-navigation-icon ml-3">
      </a>
    {% endif %}
  </div>
{% endblock content %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/iqualify.css' %}">
{% endblock css %}
