{% extends "base.html" %}

{% load static %}
{% load render_html_field %}

{% block page_heading %}
  Pīkau Courses: {{ pikau_course.name }}
{% endblock page_heading %}

{% block content %}
  <p><strong>Slug:</strong> <code>{{ pikau_course.slug }}</code></p>
  <p><strong>Language:</strong> {{ pikau_course.get_language_display }}</p>
  <p>
    <strong>Topic:</strong>
    {% with topic=pikau_course.topic %}
      {% include "pikau/snippets/topic_badge.html" %}
    {% endwith %}
  </p>
  <p>
    <strong>Level:</strong>
    {% with level=pikau_course.level %}
      {% include "pikau/snippets/level_badge.html" %}
    {% endwith %}
  </p>

  <p><strong>Trailer Video:</strong> <a href="{{ pikau_course.trailer_video }}">View</a></p>

  <p><strong>Cover Photo:</strong></p>
  <img src="{% static pikau_course.cover_photo %}">

  <p><strong>Tags:</strong></p>
  <ul>
    {% for tag in pikau_course.tags.all %}
      <li>{% include "pikau/snippets/tag_badge.html" %}</li>
    {% endfor %}
  </ul>

  <p><strong>Glossary Terms:</strong></p>
  <ul>
    {% for glossary_term in pikau_course.glossary_terms.all %}
      <li>{{ glossary_term.term }}</li>
    {% endfor %}
  </ul>

  <h2>Overview</h2>
  {% render_html_field pikau_course.overview %}

  <h2>Content</h2>
  <p><em>TODO</em></p>

  <h2>Resources</h2>
  <p><em>TODO</em></p>

  <h2>Study Plan</h2>
  {% render_html_field pikau_course.study_plan %}

  <h2>Assessment Description</h2>
  {% render_html_field pikau_course.assessment_description %}

  <h2>Assessment Items</h2>
  {% render_html_field pikau_course.assessment_items %}
{% endblock content %}
