{% extends "base.html" %}

{% load static %}
{% load render_html_field %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Pīkau" "pikau:index" %}
  {% breadcrumb "Courses" "pikau:pikau_course_list" %}
  {% breadcrumb pikau_unit.pikau_course.name "pikau:pikau_course" pikau_unit.pikau_course.slug %}
  {% breadcrumb "Content" "pikau:pikau_content" pikau_unit.pikau_course.slug %}
  {% breadcrumb pikau_unit.name "" %}
{% endblock breadcrumbs %}

{% block custom_page_heading %}
  <div class="alert alert-warning" role="alert">
    <small><strong>Note:</strong> These pages aim to display how content will be viewed on iQualify, however this consistency is not guaranteed. Different icons are used for licensing reasons.</small>
  </div>

  <div class="jumbotron bg-size-cover text-white blur" id="pikau-jumbrotron">
    <div class="mb-3">
      <a class="border-bottom pb-2 text-white no-underline" href="{% url 'pikau:pikau_content' pikau_unit.pikau_course.slug  %}">
        {{ pikau_unit.pikau_course.name }}
      </a>
    </div>
    <h1>
      {{ pikau_unit.name }}
    </h1>
  </div>
{% endblock custom_page_heading %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      {% render_html_field pikau_unit.content %}
    </div>
  </div>

  <div id="page-navigation-container">
    {% if previous_unit %}
      <a href="{% url 'pikau:pikau_unit' pikau_unit.pikau_course.slug previous_unit.slug %}" class="btn float-left page-navigation">
        <img src="{% static 'images/icons/icons8/left.png' %}" class="page-navigation-icon mr-3">
        {{ previous_unit.name }}
      </a>
    {% endif %}
    {% if next_unit %}
      <a href="{% url 'pikau:pikau_unit' pikau_unit.pikau_course.slug next_unit.slug %}" class="btn float-right page-navigation">
        {{ next_unit.name }}
        <img src="{% static 'images/icons/icons8/right.png' %}" class="page-navigation-icon ml-3">
      </a>
    {% endif %}
  </div>
{% endblock content %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/iqualify.css' %}">
  {% with pikau_course=pikau_unit.pikau_course %}
    {% include 'pikau/snippets/pikau_jumbotron_styles.html' %}
  {% endwith %}
{% endblock css %}
