{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Pīkau" "pikau:index" %}
  {% breadcrumb "Courses" "" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  Pīkau Courses
{% endblock page_heading %}

{% block content %}
  <p>This page lists all the Pīkau courses available within Pīkau, ordered by name.</p>

  <div class="row">
    {% for pikau_course in pikau_courses %}
      {% include "pikau/snippets/pikau_course_card.html" %}
    {% endfor %}
  </div>
{% endblock content %}
