{% extends "base.html" %}

{% block page_heading %}
  {{ progress_outcome.name }}: {% include "pikau/snippets/progress_outcome_badge.html" %}
{% endblock page_heading %}

{% block content %}
  <p><strong>Slug:</strong> <code>{{ progress_outcome.slug }}</code></p>
  <p>{{ progress_outcome.description }}</p>
  <p><a href="{{ progress_outcome.exemplars }}">TKI Exemplars</a></p>

  <p><strong>Pikau Courses:</strong></p>
  <div class="row">
    {% for pikau_course in progress_outcome.pikau_courses.all %}
      {% include "pikau/snippets/pikau_course_card.html" %}
    {% endfor %}
  </div>
{% endblock content %}
