{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Pīkau" "pikau:index" %}
  {% breadcrumb "Readiness Levels" "pikau:readiness_level_list" %}
  {% breadcrumb readiness_level.name "" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  {{ readiness_level.name }}
{% endblock page_heading %}

{% block content %}
  <p><strong>Pikau Courses:</strong> {{ readiness_level.pikau_courses.count }}</p>
  <div class="row">
    {% for pikau_course in readiness_level.pikau_courses %}
      {% include "pikau/snippets/pikau_course_card.html" %}
    {% endfor %}
  </div>
{% endblock content %}
