{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "Pīkau" "pikau:index" %}
  {% breadcrumb "Topics" "" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  Topics
{% endblock page_heading %}

{% block content %}
  <p>This page lists all the topics available within pīkau, ordered by name.</p>

  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col">Slug</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
        <tr>
          <td>
            <code>{{ topic.slug }}</code>
          </td>
          <td>
            {% include "pikau/snippets/topic_badge.html" %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
