{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "File Tracking" "files:index" %}
  {% breadcrumb "Files" "files:file_list" %}
  {% breadcrumb file.filename "" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  {{ file.title }}
  <div class="float-right">
    {% with text='Update file' %}
      {% url 'files:file_update' file.slug as update_url %}
      {% include "snippets/update_button.html" %}
    {% endwith %}
  </div>
{% endblock page_heading %}

{% block content_container %}
  <div class="col-12 col-sm-9 col-md-6">
    <ul class="list-unstyled">
      <li>
        <strong>Author:</strong> {{ file.author }}
      </li>
      <li>
        <strong>Location:</strong> <a href="{{ file.location }}">{{ file.filename }}</a>
      </li>
      <li>
        <strong>Licence:</strong> <a href="{{ file.licence.get_absolute_url }}">{{ file.licence.name }}</a>
      </li>
      <li>
        <strong>Slug:</strong> <code>{{ file.slug }}</code>
      </li>
    </ul>

    <p>{{ file.description }}</p>
  </div>

  <div class="col">
    <h3>Preview</h3>
    {% if file.direct_link %}
      {{ file.preview_html }}
    {% else %}
      No preview available.
    {% endif %}
  </div>

  <div class="col-12">
    <h2>Attributions</h2>

    <table class="table">
      <tbody>
        <tr>
          <td class="no-wrap"><strong>Text</strong></td>
          <td>{{ attribution_text }}</td>
        </tr>
        <tr>
          <td class="no-wrap"><strong>HTML</strong></td>
          <td>{{ attribution_html|safe }}</td>
        </tr>
        <tr>
          <td class="no-wrap"><strong>HTML (raw)</strong></td>
          <td><code>{{ attribution_html|escape }}</code></td>
        </tr>
      </tbody>
    </table>

    <h2>File Usage</h2>

    {% render_table table %}
  </div>
{% endblock content_container %}
