{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
  {% breadcrumb "Home" "/" %}
  {% breadcrumb "File Tracking" "files:index" %}
  {% breadcrumb "Files" "" %}
{% endblock breadcrumbs %}

{% block page_heading %}
  Files
  <div class="float-right">
    {% with text='Add file' %}
      {% url 'files:file_create' as add_url %}
      {% include "snippets/add_button.html" %}
    {% endwith %}
    <div class="dropdown d-inline">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="fileDownloadButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Download
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="fileDownloadButton">
        <a class="dropdown-item" href="{% url 'files:file_list_export_csv' %}" download>CSV</a>
      </div>
    </div>
  </div>
{% endblock page_heading %}

{% block content %}
  <p>
    {% blocktrans trimmed %}
      This page lists files used within <a href="http://www.kiatakatu.ac.nz/">Kia Takatū ā-Matihiko</a>.
      For retrieving licence information for images from Wikipedia and Wikimedia Commons use the <a href="https://www.lizenzhinweisgenerator.de/?lang=en">Attribution Generator</a>.
    {% endblocktrans %}
  </p>

  {% if unknown_licences %}
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Warning!</h4>
      <a href="{% url 'files:file_list' %}?licence={{ unknown_licence_id }}" class="alert-link">{{ unknown_licences }} file{{ unknown_licences|pluralize }}</a> do{{ unknown_licences|pluralize:"es," }} not have a licence listed!
    </div>
  {% endif %}

  {% if filter %}
    <form action="" method="get" class="form form-inline mb-3">
      {{ filter.form|crispy }}
      <button type="submit" class="btn btn-primary ml-2">Filter</button>
    </form>
  {% endif %}

  {% render_table table %}
{% endblock content %}
