{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block custom_title %}
        Kia Takatū ā-Matihiko: Content Pipeline Assistant
      {% endblock custom_title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/website.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light fixed-top navbar-expand-md py-1">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mb-0 h1" href="{% url 'index' %}">
          Content Pipeline Assistant
        </a>
        <a href="https://github.com/uccser/kia-takatu-a-matihiko/releases" class="badge badge-danger">
          alpha
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
              <span class="navbar-text mx-3">
                Kia ora {{ request.user.first_name }}
              </span>
              <a class="nav-link btn btn-outline-secondary mx-1" href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
            {% else %}
                <a id="sign-up-item" class="nav-link btn btn-outline-secondary mx-1" href="{% url 'account_signup' %}">{% trans "Register" %}</a>
                <a id="log-in-item" class="nav-link btn btn-outline-secondary mx-1" href="{% url 'account_login' %}">{% trans "Login" %}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    {% block body_container %}
      <div id="content-container" class="container">
        <div class="row">
          <div class="col-12">
            <h1>
              {% block page_heading %}
              {% endblock page_heading %}
            </h1>
          </div>
          {% block content_container %}
            <div class="col-12">
              {% block content %}
              {% endblock content %}
            </div>
          {% endblock content_container %}
        </div>
      </div>
    {% endblock body_container %}

    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          Developed by University of Canterbury Computer Science Education Research Group - 2018
        </span>
      </div>
    </footer>

    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
