{% extends "base.html" %}

{% load static %}

{% block page_heading %}
  Pīkau Content
{% endblock page_heading %}

{% block body_container %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Kia Takatū ā-Matihiko <span class="text-muted">by</span> UCCSER</h1>
      <p class="lead">
        This tool has been developed to assist authors to efficiently create and develop content for <a href="http://www.kiatakatu.ac.nz/">Kia Takatū ā-Matihi</a>, the National Digital Readiness programme.
      </p>

      <p><strong>Goals of website:</strong></p>
      <ul class="list-style-flame">
        <li>Track content as it is developed, from draft to release.</li>
        <li>Allow authors to see the links between content, and travel through these links.</li>
        <li>Allow authors to see coverage of content against specific goals.</li>
      <ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Pīkau</h2>
        <p>
          <a class="btn btn-primary" href="{% url 'pikau:index' %}" role="button">
            View Pīkau content &raquo;
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock body_container %}
