{% extends "base.html" %}

{% load static %}

{% block page_heading %}
  Pīkau Content
{% endblock page_heading %}

{% block body_container %}
  <div class="jumbotron jumbotron-fluid bg-brand-light-purple text-white">
    <div class="container">
      <img src="{% static 'images/logo-white-text.png' %}" style="width:20rem;">
      <h1 class="display-3">Content Pipeline Assistant</h1>
      <p class="lead">
        This tool has been developed to assist authors to efficiently create and develop content for <a href="http://www.kiatakatu.ac.nz/" class="text-info">Kia Takatū ā-Matihiko</a>, the National Digital Readiness programme.
      </p>

      <p><strong>Goals of website:</strong></p>
      <ul class="list-style-flame">
        <li>Track content as it is developed, from draft to release.</li>
        <li>Allow authors to see the links between content, and travel through these links.</li>
        <li>Allow authors to see coverage of content against specific goals.</li>
      <ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Pīkau</h2>
        <p>
          <a class="btn btn-primary" href="{% url 'pikau:index' %}" role="button">
            View Pīkau content &raquo;
          </a>
        </p>
      </div>
      <div class="col-md-6">
        <h2>Digital Leaders Development</h2>
        <p>
          <a class="btn btn-secondary disabled" href="#">
            Coming soon &raquo;
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock body_container %}
