{% extends "base.html" %}

{% load static %}

{% block page_heading %}
  Pīkau Content
{% endblock page_heading %}

{% block body_container %}
  <div class="jumbotron jumbotron-fluid bg-brand-light-purple text-white">
    <div class="container">
      <img src="{% static 'images/logo-white-text.png' %}" style="width:20rem;">
      <h1 class="display-3">Content Pipeline Assistant</h1>
      <p class="lead">
        This tool has been developed to assist authors to efficiently create and develop content for <a href="http://www.kiatakatu.ac.nz/" class="text-info">Kia Takatū ā-Matihiko</a>, the National Digital Readiness programme.
      </p>

      <p>The goals of this website include:</p>
      <ul class="list-style-flame">
        <li>Track content as it is developed, from draft to release.</li>
        <li>Allow authors to see the links between content.</li>
        <li>Allow authors to see coverage of content against specific goals.</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <p>
          The existing pipeline of collaboratively writing content on Google Drive to publishing on iQualify is not altered, but is supported by this website which shows the progress, links, and coverage of content.
        </p>

        <div class="d-flex justify-content-center align-items-center">
          <div class="m-2">
            <img class="img-fluid flex-fill" src="{% static 'images/google-drive-logo.png' %}">
          </div>
          <div class="m-2 text-center">
            <img class="img-fluid flex-fill" src="{% static 'images/icons/icons8/right-arrow.png' %}" style="max-width:50%;">
          </div>
          <div class="m-2">
            <img class="img-fluid flex-fill" src="{% static 'images/iqualify-logo.png' %}">
          </div>
        </div>
        <p class="text-center border-left border-bottom border-right mb-4">
          This pipeline is supported by the <strong>Content Pipeline Assistant</strong>
        </p>

        <p>Available sections on this website:</p>

        <div class="media mt-4 mb-5">
          <img class="align-self-center mr-3" src="{% static 'images/icons/icons8/classroom.png' %}">
          <div class="media-body">
            <h4 class="mt-0">Pīkau</h4>
            <p>These are bite sized courses preparing teachers to be ready for the new content within the Technology curriculum.</p>
            <a class="btn btn-primary" href="{% url 'pikau:index' %}" role="button">
              View pīkau
            </a>
          </div>
        </div>

        <div class="media mt-4 mb-5">
          <img class="align-self-center mr-3" src="{% static 'images/icons/icons8/check-file.png' %}">
          <div class="media-body">
            <h4 class="mt-0">Files</h4>
            <p>Lists files used within this project with their licences.</p>
            <a class="btn btn-primary" href="{% url 'files:index' %}" role="button">
              View files
            </a>
          </div>
        </div>

        <div class="media my-5">
          <img class="align-self-center mr-3" src="{% static 'images/icons/icons8/groups.png' %}">
          <div class="media-body">
            <h4 class="mt-0">Digital Leaders</h4>
            <p>Content to equip leaders throughout New Zealand to lead other educators on their Digital Technologies readiness journey.</p>
            <a class="btn btn-secondary disabled" href="#">
              Coming soon
            </a>
          </div>
        </div>

        <div class="media my-5">
          <img class="align-self-center mr-3" src="{% static 'images/icons/icons8/faq.png' %}">
          <div class="media-body">
            <h4 class="mt-0">Frequently Asked Questions</h4>
            <p>Have a question about the website? Have a look for the answer within the FAQ.</p>
            <a class="btn btn-primary" href="{% url 'faq' %}" role="button">
              View FAQ
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body_container %}
